[Unit]
Description=Gunicorn instance to serve the subscription app
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/opt/sub_server/
ExecStart=/usr/bin/gunicorn --workers 3 --bind 0.0.0.0:PORT_PLACEHOLDER wsgi:app
Restart=always

[Install]
WantedBy=multi-user.target
